/* Global Css */
body{
    font-family: 'Arima', cursive; 
}

/* 1st section */
.frist-section {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(image/bg.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: cover;
    background-size: cover;
    background-position: cover;
    padding-bottom: 40%;
    padding-left: -20%;
    margin-top: -10px;
    margin-right: -80px;
    margin-right: -10px;

}
.frist-section h1{
    font-size: 50px;
    color: white;
    text-align: center;
    top: 40%;
    position: absolute;
    top: 3%;
    width: 100%;      
}
.frist-section p{
    font-size: 20px;
    color: white;
    text-align: center;
    top: 35%;
    position: absolute;
    width: 100%;        
}
.frist-section button{
    text-decoration: none; 
  background-image: linear-gradient(orange, tomato);
  padding: 10px 30px;
  font-weight: 900;  
  border-radius: 5px;
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 25%;
  margin-left: 600px;
  border: none; 
} 
.donate {
    text-align: center
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    font-family: arial;
    padding-left: 27%;
    padding-right: 27%;
    font-family: arial;
}
.col{
    background: #e0dbdb80;
    border-radius: 5%;
    box-sizing: border-box;
    padding: 12px 20px;
}
.col-sec{
    background-color: rgb(231, 210, 210);
    border-radius: 5%;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 2px solid rgb(248, 12, 12);
}
.donate-2nd{
    color: blue;
   background-image:  
}
.donate-2nd{
    border-bottom-color: blue;

}
.btn{
   font-family:"Roboto", sans-serif 
   font-weight: bold;
   text-decoration: none; 
   background-image: linear-gradient(orange, tomato);
   padding: 10px 30px;
   color: white;
   font-weight: 900;  
   border-radius: 5px;            
} 
.btn{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 60%);
  transform: translate(-50%, 1300%);
}
.family{
    display: flex;
    justify-content: space-between;
}
.A-family{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(211, 224, 236); 
} 
.B-family{
    width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-right: 10px;
padding-left: 20px;
border-radius: 10px;
background-color: rgb(235, 214, 190);
}
.C-family{
    width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-right: 10px;
padding-left: 20px;
border-radius: 10px;
background-color: rgb(231, 167, 130);
box-shadow: 10px 10px 40px gray;
}
.DE-family{
    display: flex;
    margin-left: 5%;
    padding-top: 10%;    
}
.D-family button {
    background-color: rgb(10, 5, 1);
    color: white;
    font-weight: 900;  
    border-radius: 5px;
    padding: 12px 20px;
}
.D-family{
    padding-right: 150px;
}
.E-family img {
    width: 70%;
    padding-right: 20%;
}
.i-family img{
    width: 80%;
    padding-right: 10px;
    margin-right: 50px;
    margin-left: 10%;  
}
.F-family{
    text-align: center     
}
.ab{
    background: rgb(159, 160, 250);
    display: flex;
    width: 40%;
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 220px;
    padding-left: 220px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.a{
    background-color: rgb(196, 182, 182);
    box-sizing: border-box;
    padding-right: 300px;
    padding-left: 10px;
    color: rgb(116, 111, 111);
    padding-top: 20px;
    
}
.b{
    background-color: rgb(230, 23, 23);
    box-sizing: border-box;
    padding: 20px 50px;
    color: white;
     
}
.xy{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.x{
    color: white;
    text-align: center;
    font-family: initial;
}
.y{
    color: white;
    text-align: center
}    